In [48]:
from pathlib import Path
import pandas as pd

path = Path('_data/wrds_bondret_filtered.parquet')
df = pd.read_parquet(path)


df['date'] = pd.to_datetime(df['date']).dt.normalize()
available_dates = df['date'].dropna().drop_duplicates().sort_values()
print('Available dates:')
print(available_dates.dt.strftime('%Y-%m-%d').to_list())

target_date = pd.Timestamp('2020-09-30')  # set to one value from Available dates
df = df[df['date'] == target_date].copy()
df.info()

Available dates:
['2002-07-31', '2002-08-31', '2002-09-30', '2002-10-31', '2002-11-30', '2002-12-31', '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30', '2003-05-31', '2003-06-30', '2003-07-31', '2003-08-31', '2003-09-30', '2003-10-31', '2003-11-30', '2003-12-31', '2004-01-31', '2004-02-29', '2004-03-31', '2004-04-30', '2004-05-31', '2004-06-30', '2004-07-31', '2004-08-31', '2004-09-30', '2004-10-31', '2004-11-30', '2004-12-31', '2005-01-31', '2005-02-28', '2005-03-31', '2005-04-30', '2005-05-31', '2005-06-30', '2005-07-31', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-31', '2006-01-31', '2006-02-28', '2006-03-31', '2006-04-30', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-30', '2006-10-31', '2006-11-30', '2006-12-31', '2007-01-31', '2007-02-28', '2007-03-31', '2007-04-30', '2007-05-31', '2007-06-30', '2007-07-31', '2007-08-31', '2007-09-30', '2007-10-31', '2007-11-30', '2007-12-31', '2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31', '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30', '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31', '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31', '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31', '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31', '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31', '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30', '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31']
<class 'pandas.core.frame.DataFrame'>
Index: 24681 entries, 232 to 3849180
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 24681 non-null  datetime64[ns]
 1   issue_id             24681 non-null  Float64
 2   cusip                24681 non-null  string
 3   bond_sym_id          24679 non-null  string
 4   bsym                 0 non-null      string
 5   isin                 24681 non-null  string
 6   company_symbol       24679 non-null  string
 7   bond_type            24681 non-null  string
 8   security_level       24653 non-null  string
 9   conv                 24681 non-null  Float64
 10  offering_date        24680 non-null  datetime64[ns]
 11  offering_amt         24681 non-null  Float64
 12  offering_price       23690 non-null  Float64
 13  principal_amt        24681 non-null  Float64
 14  maturity             24681 non-null  datetime64[ns]
 15  treasury_maturity    5455 non-null   string
 16  coupon               24653 non-null  Float64
 17  day_count_basis      24670 non-null  string
 18  dated_date           24681 non-null  datetime64[ns]
 19  first_interest_date  24681 non-null  datetime64[ns]
 20  last_interest_date   24681 non-null  datetime64[ns]
 21  ncoups               24681 non-null  Float64
 22  t_date               24681 non-null  datetime64[ns]
 23  t_volume             12959 non-null  Float64
 24  t_dvolume            12959 non-null  Float64
 25  t_spread             11214 non-null  Float64
 26  t_yld_pt             8977 non-null   Float64
 27  yield                24530 non-null  Float64
 28  amount_outstanding   24659 non-null  Float64
 29  price_eom            24681 non-null  Float64
 30  price_ldm            6884 non-null   Float64
 31  price_l5m            9308 non-null   Float64
 32  gap                  23684 non-null  Float64
 33  coupmonth            24681 non-null  Float64
 34  nextcoup             10277 non-null  datetime64[ns]
 35  coupamt              24681 non-null  Float64
 36  coupacc              24681 non-null  Float64
 37  multicoups           24681 non-null  Float64
 38  ret_eom              23684 non-null  Float64
 39  ret_ldm              5403 non-null   Float64
 40  ret_l5m              7642 non-null   Float64
 41  tmt                  24638 non-null  Float64
 42  remcoups             24638 non-null  Float64
 43  duration             24448 non-null  Float64
 44  r_sp                 23890 non-null  string
 45  r_mr                 14261 non-null  string
 46  r_fr                 23561 non-null  string
 47  n_sp                 8740 non-null   Float64
 48  n_mr                 10097 non-null  Float64
 49  n_fr                 5915 non-null   Float64
 50  rating_num           10795 non-null  Float64
 51  rating_cat           24681 non-null  string
 52  rating_class         24681 non-null  string
 53  defaulted            24631 non-null  string
 54  default_date         33 non-null     datetime64[ns]
 55  default_type         33 non-null     string
 56  reinstated           22 non-null     string
 57  reinstated_date      21 non-null     datetime64[ns]
 58  year                 24681 non-null  int64
dtypes: Float64(31), datetime64[ns](10), int64(1), string(17)
memory usage: 12.0 MB

In [38]:
path2 = Path('_data/markit_cds.parquet')
df2 = pd.read_parquet(path2)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46851870 entries, 0 to 46851869
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   date       datetime64[ns]
 1   ticker     string
 2   redcode    string
 3   parspread  Float64
 4   tenor      string
 5   country    string
 6   year       int64
dtypes: Float64(1), datetime64[ns](1), int64(1), string(4)
memory usage: 2.5 GB

In [39]:
path3 = Path('_data/RED_and_ISIN_mapping.parquet')
df3 = pd.read_parquet(path3)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11037 entries, 0 to 11036
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   redcode    11037 non-null  string
 1   ticker     11037 non-null  string
 2   obl_cusip  8000 non-null   string
 3   isin       11037 non-null  string
 4   tier       11037 non-null  string
dtypes: string(5)
memory usage: 431.3 KB

In [40]:
target_date = pd.Timestamp('2020-09-30')
df2_20200930 = df2[pd.to_datetime(df2['date']).dt.normalize() == target_date].copy()
df2_20200930.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7073 entries, 40152291 to 41945932
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       7073 non-null   datetime64[ns]
 1   ticker     7073 non-null   string
 2   redcode    7073 non-null   string
 3   parspread  7063 non-null   Float64
 4   tenor      7073 non-null   string
 5   country    7073 non-null   string
 6   year       7073 non-null   int64
dtypes: Float64(1), datetime64[ns](1), int64(1), string(4)
memory usage: 449.0 KB

In [47]:
# 1) Unique RED codes from df2_20200930
redcodes_20200930 = (
    df2_20200930[['redcode']]
    .dropna()
    .assign(redcode=lambda x: x['redcode'].astype(str).str.strip().str.upper())
    .query("redcode != '' and redcode != 'NAN'")
    .drop_duplicates()
    .reset_index(drop=True)
)

# 2) Clean RED->ISIN map from df3
redcode_isin_map = (
    df3[['redcode', 'isin']]
    .dropna(subset=['redcode', 'isin'])
    .assign(
        redcode=lambda x: x['redcode'].astype(str).str.strip().str.upper(),
        isin=lambda x: x['isin'].astype(str).str.strip().str.upper(),
    )
    .query("redcode != '' and redcode != 'NAN' and isin != '' and isin != 'NAN'")
    .drop_duplicates(subset=['redcode', 'isin'])
)

# 3) Keep only ISINs linked to RED codes present in df2_20200930
isins_from_redcodes_20200930 = (
    redcodes_20200930
    .merge(redcode_isin_map, on='redcode', how='left')
    .dropna(subset=['isin'])
    .drop_duplicates(subset=['redcode', 'isin'])
    .reset_index(drop=True)
)

print("unique redcodes:", redcodes_20200930['redcode'].nunique())
print("rows in redcode-isin dataframe:", len(isins_from_redcodes_20200930))
print("unique isins:", isins_from_redcodes_20200930['isin'].nunique())

isins_from_redcodes_20200930.head(30)

unique redcodes: 663
rows in redcode-isin dataframe: 2875
unique isins: 2817

   redcode          isin
0   1I96BB  US172474AC26
1   4CFFB9  US487836AS72
2   4CFFB9  XS0072952434
3   4CFFB9  US487836BD94
4   4CFFB9  US487836BU10
5   4CFFB9  US487836AT55
6   36AGC5  US337932AB30
7   36AGC5  US337932AC13
8   36AGC5  US337932AQ09
9   36AGC5  US337932AL12
10  36AGC5  US337932AH00
11  36AGC5  US337932AP26
12  36AGC5  US337932AS64
13  2BG88W  US05564EBK10
14  2BG88W  US29717PAG28
15  07GHEI  US079860AE23
16  07GHEI  US079860AK82
17  07GHEI  US079860AD40
18  0E876I  US044209AK03
19  0E876I  US044209AF18
20  0E876I  US04433LAA08
21  138A48  US126408AP85
22  138A48  US126408GF40
23  138A48  US126408GL18
24  138A48  US126408GJ61
25  138A48  US126408GM90
26  138A48  US126408GZ04
27  138A48  US126408HE65
28  7BDA4H  US74913EAH36
29  7BDA4H  US74913EAN04

In [49]:
# Normalize ISINs before comparison
df_isins = (
    df['isin']
    .dropna()
    .astype(str)
    .str.strip()
    .str.upper()
)
df_isins = set(df_isins[(df_isins != '') & (df_isins != 'NAN')])

mapped_isins = (
    isins_from_redcodes_20200930['isin']
    .dropna()
    .astype(str)
    .str.strip()
    .str.upper()
)
mapped_isins = set(mapped_isins[(mapped_isins != '') & (mapped_isins != 'NAN')])

overlap = mapped_isins.intersection(df_isins)

print("unique isins in isins_from_redcodes_20200930:", len(mapped_isins))
print("unique isins in df:", len(df_isins))
print("overlap unique isins:", len(overlap))
print("share of mapped isins found in df:", round(len(overlap) / len(mapped_isins), 4) if mapped_isins else 0)

unique isins in isins_from_redcodes_20200930: 2817
unique isins in df: 24681
overlap unique isins: 856
share of mapped isins found in df: 0.3039